name: Spring Boot CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build & Test
        run: |
          mvn clean package
          mvn run test

      - name: Build Docker image
        run: docker build -t latest

